<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-2xl font-semibold text-gray-900">Edit Customer</h1>
    <p class="mt-2 text-sm text-gray-700">Update customer information.</p>
  </div>
</div>

<%= @customer.errors.full_messages if @customer.errors.any? %>
<div class="mt-8">
  <%= render 'form', customer: @customer %>
</div>
