<%# Header %>
<div class="pb-5 border-b border-gray-200">
  <h3 class="card-title text-2xl leading-6 font-medium text-gray-900">Edit Order</h3>
</div>

<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-6">
      <h2 class="card-title text-2xl font-bold">Edit Order</h2>
    </div>
    <%= render 'form', order: @order %>
  </div>
</div>
