<div class="flex justify-between mt-6">
  <%= link_to "javascript:history.back()", class: "btn btn-ghost" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
    Back
  <% end %>
</div>
<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-6">
      <h2 class="card-title text-2xl font-bold">Edit Order</h2>
    </div>
    <% if current_user.owner? %>
      <%= render 'form', order: @order %>
    <% else %>
      <%= render 'tailor_form' %>
    <% end %>
  </div>
</div>
